:root {
  --color-white: hsla(0, 0%, 100%, 1);

  // // // // // // // // // // // // // // // // // // // //

  --color-purple: hsla(277, 91%, 56%, 1);
  --color-dark-navy: hsla(216, 25%, 25%, 1);
  --color-navy: hsla(216, 27%, 32%, 1);
  --color-grey-navy: hsla(219, 13%, 44%, 1);
  --color-light-bluish: hsla(216, 47%, 78%, 1);
  --color-light-grey: hsla(220, 38%, 97%, 1);
  --color-green: hsla(151, 70%, 50%, 1);
  --color-red: hsla(0, 82%, 63%, 1);
}

.dark {
  --bg-pattern-mobile: url("./../../public/assets/images/pattern-background-mobile-dark.svg");
  --bg-pattern-tablet: url("./../../public/assets/images/pattern-background-tablet-dark.svg");
  --bg-pattern-desktop: url("./../../public/assets/images/pattern-background-desktop-dark.svg");

  --color-bg: hsla(216, 25%, 25%, 1);
  --color-bg-answer-box: hsla(220, 38%, 97%, 1);
  --color-text: hsla(0, 0%, 100%, 1);
  --color-second-text: hsla(216, 47%, 78%, 1);

  --bg-color-btn: hsla(216, 27%, 32%, 1);
  --shadow-btn: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);
}

.light {
  --bg-pattern-mobile: url("./../../public/assets/images/pattern-background-mobile-light.svg");
  --bg-pattern-tablet: url("./../../public/assets/images/pattern-background-tablet-light.svg");
  --bg-pattern-desktop: url("./../../public/assets/images/pattern-background-desktop-light.svg");

  --color-bg: hsla(220, 38%, 97%, 1);
  --color-bg-answer-box: hsla(220, 38%, 97%, 1);
  --color-text: hsla(216, 25%, 25%, 1);
  --color-second-text: hsla(219, 13%, 44%, 1);

  --bg-color-btn: hsla(0, 0%, 100%, 1);
  --shadow-btn: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  background-color: var(--color-bg);
  transition: background-color 0.2s;

  &::after {
    content: "";
    background-image: var(--bg-pattern-mobile);
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;

    @media only screen and (min-width: 768px) {
      background-image: var(--bg-pattern-tablet);
    }

    @media only screen and (min-width: 1200px) {
      background-image: var(--bg-pattern-desktop);
      background-size: cover;
    }
  }
}

main {
}

button {
  font-family: inherit;
}
