.header {
  max-width: 548px;
  margin: 0 auto;
  margin-bottom: 32px;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    margin-bottom: 0;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 1288px;
  }
}

.wrapper {
  display: flex;
  align-items: center;

  height: 72px;
  padding: 16px 24px;

  @media only screen and (min-width: 768px) {
    height: 145px;
    padding: 40px 64px 49px 64px;
  }

  @media only screen and (min-width: 1200px) {
    height: 224px;
    padding: 83px 64px 85px 64px;
  }
}

.subject {
  display: flex;
  align-items: center;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1200px) {
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    margin-right: 16px;
    border-radius: 4px;

    @media only screen and (min-width: 768px) {
      width: 56px;
      height: 56px;
      border-radius: 8px;
      margin-right: 24px;
    }
  }

  img {
    @media only screen and (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }

  h1 {
    color: var(--color-text);
    transition: color 0.2s;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;

    @media only screen and (min-width: 768px) {
      font-size: 28px;
    }
  }
}

.btn {
  border: none;
  background-color: transparent;
  height: 30px;

  display: flex;
  align-items: center;
  column-gap: 8px;

  margin-left: auto;

  cursor: pointer;

  @media only screen and (min-width: 768px) {
    column-gap: 16px;
    height: 40px;
  }
}

.icon {
  @media only screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.toggle {
  display: flex;

  padding: 4px;
  width: 32px;
  height: 20px;

  background-color: var(--color-purple);

  border-radius: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media only screen and (min-width: 768px) {
    width: 48px;
    height: 28px;
    box-shadow: none;
  }

  &::after {
    content: "";
    display: block;

    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-white);

    transition: transform 0.3s;

    @media only screen and (min-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
}

.dark {
  &::after {
    transform: translateX(12px);

    @media only screen and (min-width: 768px) {
      transform: translateX(20px);
    }
  }
}
